@import url(https://fonts.googleapis.com/css?family=Khula:700);
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arita-dotum-Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "TmoneyRoundWindExtraBold";
}

html,
body {
  position: relative;
  height: 100vh;
  background-color: #17182f;
}

.swiper {
  width: 90%;
  height: 100%;
  float: right;
}

canvas {
  display: block;
}

.swiper-wrapper {
  color: white;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.best {
  color: #ffffff;
  position: absolute;
  top: 2%;
  right: 2%;
}

.header {
  background-color: rgb(14, 10, 41);
  position: fixed;
  width: 10%;
  height: 100vh;
  color: white;
}
.header .header-icon {
  width: 100px;
  height: 100px;
  background-color: #ff3600;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50px;
  background-image: url(../img/icon1.png);
  background-size: cover;
}
.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  height: 50%;
  font-size: 1.5rem;
}
.header nav .swiper-pagination {
  left: 30%;
}
.header nav .swiper-pagination .swiper-pagination-bullet {
  background: none;
  padding: 20px 0;
  color: #fff;
  opacity: 0.5;
}
.header nav .swiper-pagination .swiper-pagination-bullet-active {
  font-weight: bold;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.console-container {
  font-family: Khula;
  font-size: 7em;
  text-align: center;
  height: 200px;
  width: 100%;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.swiper-slide {
  position: relative;
}
.swiper-slide h1 {
  position: absolute;
  top: 22%;
  left: 5%;
  font-size: 3rem;
}

.frofile-img {
  width: 250px;
  height: 250px;
  background-image: url(../img/icon.png);
  background-size: cover;
  position: absolute;
  top: 20%;
  left: 27%;
  border-radius: 500px;
}

.timeline {
  width: 600px;
  height: 250px;
  background-color: rgba(225, 247, 245, 0.768627451);
  position: absolute;
  top: 20%;
  left: 45%;
  color: black;
  border-radius: 50px;
}
.timeline h3 {
  padding: 7px 50px;
  font-family: "Arita-dotum-Medium";
}
.timeline span {
  font-weight: bold;
  padding-left: 30px;
}

.frofile {
  width: 1000px;
  height: 300px;
  background-color: rgba(225, 247, 245, 0.7294117647);
  position: absolute;
  top: 55%;
  left: 26%;
  color: black;
  text-align: center;
  border-radius: 50px;
}
.frofile h2 {
  padding: 30px 0;
  font-size: 2rem;
  text-shadow: 2px 2px gray;
}
.frofile p {
  padding: 10px 90px;
  line-height: 25px;
  font-family: "Arita-dotum-Medium";
}

.skills_other {
  width: 500px;
  height: 20px;
  position: absolute;
  top: 87%;
  left: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 800px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 27%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.skills h2 {
  position: absolute;
  top: -10%;
  left: 6%;
}
.skills div {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  border: 1px solid #2b2b2b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills div p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 16px);
  text-align: center;
  display: none;
  font-size: 13px;
  padding-top: 16px;
  font-family: "Arita-dotum-Medium";
  border-radius: 20px;
}
.skills div img {
  width: 70%;
  height: 70%;
}
.skills div:hover p {
  display: block;
}

.tool {
  width: 800px;
  height: 150px;
  position: absolute;
  top: 70%;
  left: 27%;
  display: flex;
  align-items: center;
}
.tool h2 {
  position: absolute;
  top: -20%;
  left: 6%;
}
.tool div {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  border: 1px solid #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}
.tool div p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 16px);
  text-align: center;
  display: none;
  font-size: 13px;
  padding-top: 16px;
  font-family: "Arita-dotum-Medium";
  border-radius: 20px;
}
.tool div img {
  width: 70%;
  height: 70%;
}
.tool div:hover p {
  display: block;
}

.loading {
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin: auto;
  transform: translateY(-50%);
  font-size: 2rem;
}

.loading span {
  position: relative;
  z-index: 999;
  color: #ffffff;
  font-size: 23px;
}

.loading:before {
  content: "";
  background: #38395f;
  width: 170px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0% {
    transform: translateX(-14px);
  }
  50% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-14px);
  }
}
.loading:after {
  content: "";
  background: #15befc;
  width: 50px;
  height: 100px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
  animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}
.project {
  width: 100%;
  height: 90%;
  position: relative;
}
.project .wrap1 {
  width: 370px;
  height: 100px;
  z-index: 8888;
  position: absolute;
  top: 15%;
  left: 69%;
}
.project .wrap1 img {
  width: 100%;
  height: 100%;
}
.project .wrap1 .chatbox1 {
  animation: motion 0.3s linear 0s infinite alternate;
  margin-top: 0;
}
@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
.project .wrap {
  width: 150px;
  height: 70px;
  position: absolute;
  top: 90%;
  left: 18%;
}
.project .wrap img {
  width: 100%;
  height: 100%;
}
.project .wrap .chatbox {
  animation: motion 0.3s linear 0s infinite alternate;
  margin-top: 0;
}
@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
.project .box {
  width: 1000px;
  height: 680px;
  background-color: rgba(255, 255, 255, 0.5764705882);
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 21%;
}
.project .box .box_1 {
  width: 700px;
  height: 400px;
  position: absolute;
  top: 3%;
  left: 15%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
.project .box .box_1 img {
  width: 100%;
  border-style: none;
  transition: 10s;
  box-shadow: 5px 5px 50px 5px;
}
.project .box .box_1:hover img {
  transform: translateY(calc(-100% + 400px));
}
.project .box .box_2 {
  width: 800px;
  height: 30px;
  position: absolute;
  top: 65%;
  left: 15%;
  display: flex;
  flex-wrap: wrap;
}
.project .box .box_2 button {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0E46A3;
  color: #fff;
  font-size: 15px;
}
.project .box .box_3 {
  width: 700px;
  height: 100px;
  position: absolute;
  top: 71%;
  left: 15%;
  text-align: center;
  color: black;
}
.project .box .box_3 h3 {
  padding-top: 40px;
}
.project .box .box_3 p {
  padding-top: 10px;
  font-family: "Arita-dotum-Medium";
}
.project .box .box_4 {
  width: 200px;
  position: absolute;
  top: 91%;
  left: 40%;
  text-align: center;
}
.project .box .box_4 .pushable {
  background: hsl(255, 72%, 69%);
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.project .box .box_4 .front {
  display: block;
  padding: 8px 32px;
  border-radius: 12px;
  font-size: 1rem;
  background: hsl(246, 72%, 58%);
  color: white;
  transform: translateY(-6px);
}
.project .box .box_4 .pushable:active .front {
  transform: translateY(-2px);
}
.project .swiper-pagination-bullet {
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 15PX;
  color: #ffffff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.project .swiper-pagination-bullet-active {
  color: #fff;
  background: #0E46A3;
}

.good {
  width: 1000px;
  height: 100px;
  position: absolute;
  top: 18%;
  left: 23%;
}

.ml1 {
  font-weight: 900;
  font-size: 5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
  font-size: 8rem;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}

.ml1 .line2 {
  bottom: 0;
}

.introduce {
  position: absolute;
  top: 38%;
  left: 38%;
}

.self {
  position: absolute;
  top: 57%;
  left: 30%;
}
.self h3 {
  font-size: 2.5rem;
  font-weight: 100;
  padding: 10px 0;
}
.self span {
  font-weight: bold;
}

.finsh {
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 95%;
  left: 42%;
}